@import "~assets/scss/variables";

.textfield {
  position: relative;
  background: $dark-blue-primary;
  $p: &;

  input {
    width: 100%;
    height: 48px;
    padding: 12px 24px;
    border: solid 1px;
    border-color: $dark-blue-fourth;
    border-radius: 12px;
    background: inherit;
    font-size: 16px;
    color: transparent;
    transition: border-color .3s ease-in-out,
      color .3s ease-in-out;
  }

  &__label-bg {
    display: block;
    position: absolute;
    left: 18px;
    top: -10px;
    padding: 0 8px;
    opacity: 0;
    background: inherit;
    color: transparent;
    font-size: 16px;
    transition: all .3s ease-in-out;
    pointer-events: none;
  }

  &__fieldname {
    position: absolute;
    left: 26px;
    top: 12px;
    font-size: 16px;
    transition: all .3s ease-in-out;
    pointer-events: none;
  }

  &.filled {
    #{$p}__fieldname {
      color: $light-gray;
      transform: translate(0px, -24px);
    }

    #{$p}__label-bg {
      opacity: 1;
    }

    input {
      border-color: $white;
      color: $white;
    }
  }

  input:disabled {
    color: rgba($white, .5);
    border-color: rgba($white, .5);
  }

  svg {
    position: absolute;
    left: 22px;
    top: calc(50% - 11px);
  }

  &.icon {
    input {
      padding: 12px 24px 12px 48px;
    }

    #{$p}__fieldname {
      left: 48px;
    }

    #{$p}__label-bg {
      left: 40px;
    }

  }
}

@media only screen and (max-width:$laptop) {
  .textfield {
    $p: &;

    input {
      height: a(48px);
      padding: a(12px) a(24px);
      border-radius: a(12px);
      font-size: a(16px);
    }

    &__label-bg {
      left: a(18px);
      top: a(-10px);
      padding: 0 a(8px);
      font-size: a(16px);
    }

    &__fieldname {
      left: a(26px);
      top: a(12px);
      font-size: a(16px);
    }

    &.filled {
      #{$p}__fieldname {
        transform: translate(0px, a(-24px));
      }
    }
  }

}