@import "~assets/scss/variables";

.button {
  $p: &;
  width: 100%;
  height: 48px;
  border: none;
  color: $white;
  border-radius: 12px;
  background: none;
  box-shadow: inset 0 5px 15px rgba($white, 0.15), 0 10px 25px rgba(#0f0f17, 0.35);
  font-size: 16px;

  &:disabled {
    opacity: 0.5;
  }

  &.green {
    background: linear-gradient(125deg, #6cad2b, #84d52c);
    box-shadow: inset 0 5px 15px rgba($white, 0.5), 0 10px 25px rgba(#0f0f17, 0.35);
  }

  svg {
    margin-right: 12px;
  }

  &.width {
    width: 200px;
  }
}

@media only screen and (max-width: $laptop) {
  .button {
    $p: &;
    height: a(48px);
    border-radius: a(12px);
    font-size: a(16px);

    svg {
      margin-right: a(16px);
    }

    &.width {
      width: a(200px);
    }
  }
}
