
$white: #fff;
$dark-blue-primary: #171722;
$dark-blue-secondary: #22222D;
$dark-blue-third: #45454E;
$dark-blue-fourth: #30303D;
$dark-blue-fifth: #8B8B91;

$unactive-input:#353542;

$green: #84D52C;
$light-gray: #959595;
$dark-gray: #212129;

$shadow: #0F0F17;

$red: #FF6D59;
$error: $red;






$green-gradient: linear-gradient(125deg, #6CAD2B, $green);

$black-shadow: inset 0 5px 15px rgba($white, .15),
0 10px 25px rgba($shadow, .35);

$sidebar-width: 280px;

//font
$main-font: proxima-nova, sans-serif;

//laptop
$laptop: 1600px;
$scale: 0.7;

//function-laptop
@function a($num){
	@return $num * $scale;
}
  
